<!DOCTYPE html>
<html>
<head>
  <title>Auto Add From let's cook French!</title>
</head>
<body>
  <form action="./auto_add_results" method="post">
    Keyword to Search:
    <input type="text" name="keyword" />
    <input type="submit" name="submit" value="Search lets cook french!">

  </form>

</body>
</html>
