<html>
  <head>
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>
    <ul>
      <% @recipes.each_with_index do |recipe, index| %>
        <li><a href="<%= recipe.url %>"><%= recipe.name %></a>
          <p><%= recipe.description %></p>
          <form action="./delete" method="post">
            <input type="hidden" name="index_to_delete" value="<%= index %>">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% end %>
    </ul>
    <a href="./new">Add New Recipe</a>
  </body>
</html>
